          <div class="row col-12">
            <div class="jumbotron jumbotron-fluid">
              <div class="container">
              <h1 class="display-4">Tech Blog</h1>
              <p class="lead">The Bloggiest Tech Blog of all time.</p>
            </div>
          </div>
{{#each blogs as |blog| }}
<div class = "row">
                <div class="card mb-3">
                    <h5 class="card-header">{{blog.title}}</h5>
                    <div class="card-body">
                      <p class="card-text">{{blog.body}}</p>
                      <a href="/blogs/{{id}}" class="">See more...</a>
                    </div>
                    <div class="card-footer text-muted">
                        Posted by {{blog.user.username}} on {{format_date blog.createdAt}}
                      </div>
                  </div>
            </div>
{{/each}}